#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
    padding: 3% 15%;
}
h1{
    font-family: "Monstserrat",sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
h2{
    font-family: "Monstserrat",sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: "Monstserrat",sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}
p{
    color: #8f8f8f;
}

/* Navigation Bar*/

.navbar-brand{
    font-family: "ubuntu",sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-link{
    font-family: "Monstserrat",sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 60%;
    transform: rotate(25deg);
}

/*feature section*/ 

#features{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/* Testimonials section */

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press section */

#press{
    background: #ef8172;
    text-align: center;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}

/* Pricing section */

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}

/* Call to Action */

#cta{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}
.cta-heading{
    font-family: "Monstserrat",sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

/* Footer section */

#footer{
    text-align: center;
    padding: 7% 15%;
    
}
.social-icon{
    margin: 2% 1%;
}

/* Media Query */

@media (max-width:1028px) {
    .title-image{
        width: 60%;
        transform: rotate(0);
    }
    #title{
        background-color: #ff4c68;
        color: #fff;
        text-align: center;
    }
}
